header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 3;
}

nav {
    width: 1180px;
    margin: 0 auto;
    padding: 40px 60px 0;
    display: flex;
}

.image_holder {
    display: flex;
    align-items: center;
}

.nav-links {
    color: white;
    display: flex;
    padding-left: 20px;
    letter-spacing: 1px;
}

.nav-links>div {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
    padding: 12px 20px;
}

.nav-links>div:hover {
    color: rgb(var(--accent));
}

.social_button_part {
    width: 190px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0 10px;
}

.social_media_button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.social_media_button:hover {
    transform: scale(1.1)
}

.social_media_button>img {
    width: 45%;
}