.people_section {
    margin-top: 7vh;
}

.people_container {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.single_person {
    color: aliceblue;
    overflow: hidden;
    cursor: pointer;
}

.single_image_holder {
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom: 5px solid rgb(var(--accent));
    padding: 0;
    position: relative;
}

.single_image_holder>img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 30px;
    transition: transform 0.25s;
    object-fit: cover;
    margin: 0;
    scale: 1.05;
}

.single_image_holder>img:hover {
    transform: scale(1.05);
    width: 100%;
}

.single_person p {
    text-align: center;
}