.story_section{
    margin-top: 10vh;
}

.story_h{
    color: aliceblue;
    text-align: center;
    color: #fff;
    font-size: 2.369rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
}

.story_h span{
    color: black;
    text-shadow: var(--accent-shadow);
}