.story_section {
    margin-top: 10vh;
    height: 600px;
    margin-bottom: 5000px;
}

.story_h {
    text-align: center;
    color: var(--accent-white);
    font-size: 2.369rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
}

.story_h span {
    color: black;
    text-shadow: var(--accent-shadow);
}

.story_container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 7vh;
}

.story_category {
    width: 25%;
    height: 100%;
}

.category_holder {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 100px;
}

.active_single_category {
    background-color: #222;
    color: rgb(var(--accent))!important;
}

.story_single_category {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--accent-white);
    cursor: pointer;
    box-sizing: border-box;
}

.story_single_category:hover {
    text-decoration: underline;
}

.story_part {
    width: 75%;
    height: 100%;
    background-color: #222;
    padding: 60px;
    box-sizing: border-box;
}

.founders_story {
    display: flex;
    justify-content: space-between;
}

.founders_image_part {
    width: 25%;
    height: 100%;
}

.founders_image_part>img {
    width: 100%;
}

.founders_text_part {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.founders_heading {
    color: rgb(var(--accent));
    border-left: 2px solid rgb(var(--accent));
    padding: 5px 0 5px 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin-top: 1vh;
    font-weight: 200;
}