<div class='partners_story' id="partners_story">
        <p>Maecenas ultricies mi eget mauris pharetra. Sit amet consectetur adipiscing elit ut aliquam purus. Porta nibh venenatis cras sed felis. Aenean vel elit scelerisque mauris pellentesque pulvinar. Et malesuada fames ac turpis egestas sed tempus. Enim sit amet venenatis urna cursus eget.</p>

        <div class="partners_logos">
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
            <div>
                <img src="/Images/logoholder.svg" alt="">
            </div>
        </div>
</div>

