---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Main from '../layouts/Main.astro';
import RecordSection from '../components/RecordSection.astro';
import WaveSection from '../components/WaveSection.astro';
import ScrollingText from '../components/ScrollingText.astro';
---

<Layout title="Home">
	<Header/>
	<Main>
		<RecordSection/>
		<WaveSection/>
		<ScrollingText title1='artists' title2='artists'/>
	</Main>
</Layout>
