---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../layouts/Main.astro';
import RecordSection from '../components/RecordSection.astro';
import WaveSection from '../components/WaveSection.astro';
import ScrollingText from '../components/ScrollingText.astro';
import PeopleSection from '../components/PeopleSection.astro';
import StorySection from '../components/StorySection.astro';
import Attachment from '../components/Attachment.astro';
import RoadMapSection from '../components/RoadMapSection.astro';
import OurPartnersSection from '../components/OurPartnersSection.astro';
import FAQSection from '../components/FAQSection.astro';
import TeamSection from '../components/TeamSection.astro';
import JoinUsSection from '../components/JoinUsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
	<Header/>
	<Main>
		<RecordSection/>
		<WaveSection/>
		<ScrollingText title1='artists' title2='artists'/>
		<PeopleSection/>
		<StorySection/>
		<Attachment/>
		<RoadMapSection/>
		<OurPartnersSection/>
		<FAQSection/>
		<ScrollingText title1='team' title2='meet'/>
		<TeamSection/>
		<JoinUsSection/>
	</Main>
	<Footer/>
</Layout>
