<div class="wallpaper"></div>



<style>
    .wallpaper{
        width:100vw;
        height: 250px;
        background-image: url('/Images/download.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-size: cover;
        margin-top:7vh;
    }
</style>