---
import '../styles/Footer.css'
---

<footer>
    <div class="footer_container">
        <div class="footer_copyright">
            <img src="/Images/logo.svg" alt="">
            <p>
                © 2022 All rights reserved
            </p>
        </div>

        <div class="footer_text_container">
        <div class="footer_categories">
            <a href="">Wave NFTs</a>
            <a href="">Stories</a>
            <a href="">Contact</a>
        </div>
        <div class="footer_categories">
            <a href="">Licencing</a>
            <a href="">Style Guide</a>
            <a href="">Changelog</a>
        </div>

        <div class="footer_refs">
            <div>Powered by <a href="">Webflow</a> </div>
            <div>Developed by  <a href="">Anastasiia G.</a> </div>
        </div>
        <div class="footer_buttons">
                <div class="social_media_button">
                    <img src="/Images/twitter.png" alt="">
                </div>
    
                <div class="social_media_button">
                    <img src="/Images/discord.png" alt="">
                </div>
    
                <div class="social_media_button">
                    <img src="/Images/youtube.png" alt="">
                </div>
    
                <div class="social_media_button">
                    <img src="/Images/telegram.png" alt="">
                </div>
        </div>
    </div>
    </div>
</footer>



