---
import '../styles/Header.css'
---

<header>
    <nav>
        <div class="image_holder"><img src="/Images/logo.svg" alt=""></div>
        <div class="nav-links">
            
            <div>Wave NFTs</div>
            <div>Stories</div>
            <div>Contact</div>
        </div>

        <div class="social_button_part">
            <div class="social_media_button">
                <img src="/Images/twitter.png" alt="">
            </div>

            <div class="social_media_button">
                <img src="/Images/discord.png" alt="">
            </div>

            <div class="social_media_button">
                <img src="/Images/youtube.png" alt="">
            </div>

            <div class="social_media_button">
                <img src="/Images/telegram.png" alt="">
            </div>
        </div>
    </nav>
</header>