---
import '../styles//JoinUsSection.css'
---

<section class="join_us_section" data-aos="zoom-out-down">

    <div class="join_us_text_part">

        <h2>JOIN OUR <span style='color:rgb(var(--accent))'>DISCORD</span></h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique
        </p>

        <a href="https://discord.com/" class="join_discord_button" target="_blank"><img src="/Images/discord.png" alt=""> Join Discord</a>

    </div>

    <div class="join_us_image_part">
        <img src="/Images/wave3.jpg" alt="">
    </div>
</section>