---
import '../styles/OurPartnersSection.css'
---


<section class="our_partners" data-aos="fade-up">
    <p>OUR PARTNERS</p>

    <div class="partners_logos">
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
        <div>
            <img src="/Images/logoholder.svg" alt="">
        </div>
    </div>
</section>