---
import '../styles/RecordSection.css'
---

<section class="record_section">
    <div class="sec1_text_part">
        <h1>META RECORD LABEL</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        <div><a href="">Learn More</a></div>
    </div>
    <div class="sec1_image_part">
        <img src="/Images/section1-image.jpg" alt="Main Image">
    </div>
</section>