---
import '../styles/RoadMapSection.css'
---

<section class="road_map_section">

    <h2 class="road_map_heading">RoadMap</h2>


    <div class="road_map_card" data-aos="zoom-out-down">
        <div class="road_map_card_heading">
            <div class="road_map_card_number">1</div>
            <div class='road_map_card_upper_text'>
                <div>PHASE 1 - COMPLETED</div>
                <div>SPRING 2022 - PRE LAUNCH</div>
            </div>
        </div>

        <div class="road_map_main_part" data-aos="zoom-out-down">
            <div>
                <ul>
                    <li>Website 1.2</li>
                    <li>Discord community promotion</li>
                    <li style="font-weight: 700;">MINTING WAVE NFTs</li>
                </ul>
                <p>WAVE NFTs will be 100% pre-minted and launched as an OpenOcean collection</p>
            </div>
            <div>
                <img src="/Images/wave1.jpg" alt="">
            </div>
        </div>
    </div>



    <div class="road_map_card" data-aos="zoom-out-down">
        <div class="road_map_card_heading">
            <div class="road_map_card_number">2</div>
            <div class='road_map_card_upper_text'>
                <div>PHASE 2</div>
                <div>SUMMER 2022 - GROWTH</div>
            </div>
        </div>

        <div class="road_map_main_part">
            <div>
                <ul>
                    <li>Hiring for 10 positions in</li>
                    <li>Partnerships with main Metaverse players</li>
                    <li>Partnerships with WEB 2.0 music destribution channels</li>
                </ul>

                <p style="font-weight:700">Onboarding 100 new artists</p>
                <p>META Record Labels is holding the first screening of aspiring artists from the list of WAVE NFT holders</p>
            </div>
            <div>
                <img src="/Images/wave2.jpg" alt="">
            </div>
        </div>
    </div>



    <div class="road_map_card">
        <div class="road_map_card_heading">
            <div class="road_map_card_number">3</div>
            <div class='road_map_card_upper_text'>
                <div>PHASE 3</div>
                <div>SUMMER 2022 - YOUR NEW STAGE</div>
            </div>
        </div>

        <div class="road_map_main_part">
            <div>
                <ul>
                    <li>Onboarding new partners</li>
                    <li>First live concert in Sandjar</li>
                    <li style="font-weight: 700;">Live concert in Decentrafield</li>
                </ul>
                <p>We secured dates for out artists to peform in front of the live audience of Metaverse. Check the concert schedule in our <a href="https://discord.com/">Discord</a>.</p>
            </div>
            <div>
                <img src="/Images/wave1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="line"></div>


    <div class="circle" style="top: -125px;left:225px">
        <div>
            <div>
                <div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="circle" style="top: 500px;right: 230px">
        <div>
            <div>
                <div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="circle" style="bottom: -100px;left:225px">
        <div>
            <div>
                <div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>