---
import '../styles/StorySection.css'
---

<section class="story_section">

    <h2 class="story_h">MRL.<span>THE STORY.</span></h2>

    <div class="story_container">
        <div class="story_category">

            <div class="category_holder">
                <div class="story_single_category active_single_category">Our founders</div>
                <div class="story_single_category">Partners</div>
                <div class="story_single_category">The future</div>
            </div>

        </div>

        <div class="story_part">

            <div class='founders_story'>
                <div class="founders_image_part"><img src="/Images/story-image.jpg" alt=""></div>

                <div class="founders_text_part">

                    <h2 class="founders_heading">
                        META record label was founded by Shaky Lake and Baky Hike in 2020 business accelerator.
                    </h2>

                </div>
            </div>

        </div>
    </div>

</section>